extends layout
 
block content
  div.contenedorprincipal
    header
      h1 Chat con Nodejs
    section
      div.contenedorinfo
        div.info
          h1 Aquí va la informacion importante
          p
            | Información aquí
          p
            | Información aquí
      div.contenedorsidebar
        div#sidebar
          h1 Titulo sidebar
          p
            | Información aquí
    footer
      div.contenedorpie
        p
          | Todos los derechos reservados